.node {
	stroke-width: 1;
	stroke: black;
	opacity: 1;
}

.node.unselected {
	opacity: 0.6;

	stroke-width: 1;
	stroke: black;
}

.node.selected {
	stroke-width: 1;
	stroke: black;
	opacity: 1;
}

.label
{
 // fill: black;
  stroke-width: 0;
  font-family: serif;
  font-size: 12px;
}


.link {
	stroke: gray;
	stroke-width: 1;
}

.link.unselected {
	stroke: gray;
	stroke-width: 1;
	opacity: 0.5;
}

.link.selectedout {
	stroke-width: 2;
	stroke: #637939;
	opacity: 1;
}

.link.selectedin {
	stroke-width: 2;
	stroke: #843c39;
	opacity: 1;
}