.node {
	stroke-width: 1;
	stroke: black;
	opacity: 1;
}

.node.unselected {
	opacity: 0.6;

	stroke-width: 1;
	stroke: black;
}

.node.selected {
	stroke-width: 1;
	stroke: black;
	opacity: 1;
}



.link {
	stroke: gray;
	stroke-width: 1;
}

.link.unselected {
	stroke: gray;
	stroke-width: 1;
	opacity: 0.5;
}

.link.selected {
	stroke-width: 2;
	stroke: black;
	opacity: 1;
}